
<h1>Rentals Account Activation</h1>
<p>Thank you {{name}} for creating an account with us.</p>
<p>Please  click the link below to activate your email to complete account creation.
    <br/>
    <a href="{{appUrl}}/account/activate/{{accountActivationCode}}">ACTIVATE</a>
</p>

<p>Thanks,<br/>
Rentals Management.
</p>
