<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentals App</title>
</head>

<body>

    <h1>Rentals Account Activation</h1>
    <p>Thank you {{name}} for creating an account with us.</p>
    <p>Please click the link below to activate your email to complete account creation.
        <br />
        <a href="{{appUrl}}/account/activate/{{accountActivationCode}}">ACTIVATE</a>
    </p>

    <p>Thanks,<br />
        Rentals Management.
    </p>
</body>

</html>